<% include ../partials/header.ejs %>
<% include ../partials/admin-navbar.ejs %>
 
  <div class="ui container top-spacing">
    <h1 style="text-align: center;">New Blog Post</h1>
    <form class="ui form" action="/blogs" method="POST">
      <div class="field">
        <label>Title</label>
        <input type="text" name="title" placeholder="Title">
      </div>
      <div class="field">
        <label>Image URL</label>
        <input type="text" name="image" placeholder="Image URL">
      </div>
      <div class="field">
        <label>Category</label>
        <input type="text" name="category" placeholder="Example: Trees / Forest">
      </div>
      <div class="field">
        <textarea id="blog-texteditor" name="body"></textarea>
      </div>
      <input class="ui teal button save-button" type="submit">
    </form>
  </div>

 <% include ../partials/footer.ejs %>