<% include ../partials/header.ejs %>
<% include ../partials/admin-sidebar.ejs %>

  <div class="pusher">
    <div class="ui basic segment">
      <h3 class="ui header">Application Content</h3>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </div>


    <div class="ui container">
      <h1 class="ui center aligned header">Sign Up for Free Virtual Cookies</h1>
    
      <form class="ui form segment" action="/admin" method="POST">
        <div class="field">
          <label>Username</label>
          <input type="text" name="username" placeholder="Username">
        </div>
        <div class="field">
          <label>Email</label>
          <input type="email" name="email" placeholder="Email">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password" placeholder="Password">
        </div>
        <div class="ui centered">
          <button class="ui button primary fluid" type="submit">Submit</button>
        </div>
      </form>
    </div>

<% include ../partials/footer.ejs %>