<div class="ui visible inverted left vertical sidebar menu">
  <a class="item" href="/">
    <i class="home icon"></i>
    Go to Website
  </a>
  <a class="item" href="/admin">
    <i class="block layout icon"></i>
    Blogs
  </a>
  <a class="item" href="/blogs/new">
    <i class="calendar icon"></i>
    New Post
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Placeholder
  </a>
</div>