	<footer>
		<div class="footer-wrapper">
			<div class="ui divider"></div>
			<div class="ui stackable two column center aligned grid container">
				<div class="ui horizontal list column">
					<a class="item" href="#">About</a>
					<a class="item" href="#">Posts</a>
				</div>
				<div class="ui horizontal list column">
					<div class="disabled item" href="#">© AwesomeBlog, Inc.</div>
					<a class="item" href="#">Terms</a>
					<a class="item" href="#">Privacy</a>
					<a class="item" href="#">Contact</a>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/public/semantic-ui/dist/semantic.min.js"></script>
	<script src="/trumbowyg.min.js"></script>
	<script>
		$('#blog-texteditor').trumbowyg({
			removeformatPasted: true,
			imageWidthModalEdit: true
		});
	</script>
	<script src="/public/scripts/main.js"></script>
</body>
</html>