	<div class="ui divider top-spacing"></div>
	<div class="ui container">
		<div class="ui right floated horizontal list">
			<div class="disabled item" href="#">© AwesomeBlog, Inc.</div>
			<a class="item" href="#">Terms</a>
			<a class="item" href="#">Privacy</a>
			<a class="item" href="#">Contact</a>
		</div>
		<div class="ui horizontal list">
			<a class="item" href="#">About Us</a>
			<a class="item" href="#">Cool</a>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/semantic-ui/dist/semantic.min.js"></script>
	<script src="/trumbowyg.min.js"></script>
	<script>$('#blog-body').trumbowyg();</script>
	<script src="/scripts/main.js"></script>
</body>
</html>