	<nav>
		<div class="ui secondary pointing stackable menu navbar">
			<a href="/" class="item active">Home</a>
			<a href="/blogs" class="item">Blogs</a>
			<a class="item">Contact</a>
			<div class="ui right dropdown item">
				<% if (!currentUser) { %>
					Log in / Sign up
				<% } else { %>
					Hi &nbsp;<strong> <%= currentUser.username %> </strong></a>
				<% } %>
				<i class="dropdown icon"></i>
				<div class="menu">
					<% if (!currentUser) { %>
						<a href="/login" class="ui item">Log in</a>
						<a href="/register" class="ui item">Sign up</a>
					<% } else { %>
						<a href="#" class="ui item">Account</a>
						<a href="/logout" class="ui item">Log out</a>
					<% } %>
				</div>
			</div>
		</div>
	</nav>