<% include ./partials/header.ejs %>
<!-- <% include ./partials/navbar.ejs %> -->

  <div class="centered-form">
    <div class="form-container">
      <h2 class="ui teal header">
        <div class="content">
          Log-in to your account
        </div>
      </h2>
      <form class="ui large form" action="/login" method="POST">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="envelope icon"></i>
              <input type="text" name="email" placeholder="E-mail address">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <button class="ui fluid large teal submit button">Login</button>
        </div>
        <div class="ui error message"></div>
      </form>

      <div class="ui message">
        New to us? <a href="/register">Sign Up</a>
      </div>
    </div>
    <br>
    <a href="/">Go Back</a>
  </div>
  
<% include ./partials/footer.ejs %>