body {
	padding: 1em !important;
}

.josefin-font,
.header,
h1, h2, h3, h4, h5 {
	font-family: 'Josefin Sans', sans-serif !important;
}

.navbar {
	background-color: white !important;
	position: fixed;
	right: 1em;
	left: 1em;
	top: 0;
	padding-top: 1em;
	z-index: 200;
}

.centered-form {
	height: 86%;
}

.form-container {
	max-width: 500px;
	margin: 0 10px;
}

.hero-header {
	margin-top: 50px;
	background: url('../images/hero-image.jpg') center top;
	background-size: cover;
	height: 75vh;
	margin-bottom: 50px;
}

.hero-header img {
	max-width: 250px;
	margin-top: 10px;
}

/* INTRO: UNDER HERO HEADER */
.site-motto {
	font-size: 1.2em;
	font-weight: 300;
	font-style: italic;
	color: rgb(74, 74, 74);
}

.blog__category {
	text-transform: uppercase;
	font-size: 0.7em;
	color: rgb(194, 172, 117);
}

.blog__title {
	font-size: 2.3em;
	color: rgb(54, 54, 54);
	line-height: 1.2;
}

.blog__title--small {
	font-size: 1.6em;
}

.blog__middle-line {
	width: 60px;
	border-bottom: 2px solid rgb(194, 172, 117);;
	margin: 0 auto;
	margin-top: -20px;
	margin-bottom: 20px;
}

.blog__middle-line--small {
	width: 40px;
	margin-top: -5px;
}

.blog__date {
	color: rgb(165, 165, 165);
	font-weight: 300;
}

.blog__body {
	font-size: 19px !important;
	font-weight: 300;
}

.blog__body p {
	line-height: 1.7 !important;
}

/* ARTICLE IMAGE */
.blog__body img {
	width: 100%;
}

@media (min-width: 768px) {
	.crop {
		height: 500px;
		overflow: hidden;
	}
}

.top-spacing {
	margin-top: 70px !important;
}

.top-spacing--more {
	margin-top: 100px !important;
}